*{
margin: 0;
padding: 0;



}





.cabecalho{   
    background-color: #424E61;           
display: flex;
justify-content: space-around;




}
.lista-cabecalho{  
color: white;
   font-size: 40px;

}

.lista-item{
    display: inline-block;  
}

.primeira-parte{      

background-image: linear-gradient(#424E61, white);
height: 500px;
padding: 180px;
color:  white;
}


.estudante{
    width: 25%;
}







