*{
margin: 0;
padding: 0;



}





.cabecalho{   
    background-color: #424E61;           
display: flex;
justify-content: space-around;




}
.lista-cabecalho{  
color: white;
    front: size 70px;

}

.lista-item{
    display: inline-block;  
}












